section {
    padding: 10px;
}

.main-section {
    padding-top: 0;
}

.card {
    padding: 10px 20px;
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.card .card-d {
    display: flex;
    gap: 10px;
}

.card .card-d img {
    width: 200px;
}

.o-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prices {
    padding-block: 10px;
    overflow-x: scroll;
}

.prices::-webkit-scrollbar {
    display: none;
}

.chakra-table {
    width: 100%;
    text-align: center;
    gap: 10px;
    min-width: 600px;
}

.chakra-table tbody tr td {
    padding-block: 10px;
}

.chakra-table .coin-image-1 {
    width: 30px;
}

.chakra-table .coin-data-1 {
    max-width: 200px;
}

.chakra-table .coin-d {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding-inline: 20px;
}

.coin-name-d {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.coin-name-d span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-header img {
    height: 30px;
}

.article-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.goTo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.goToShow {
    margin-bottom: 10px;
    width: 100%;
}

#showgtp {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    cursor: pointer;
}

.border-btm-radius-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@keyframes reveal {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.gtContainer {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 0;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: all 0.5s;
    animation: reveal 0.5s ease-out;
    margin-bottom: 10px;
}

.gtContainer.showed {
    display: flex;
}

.gtContainer.hidden {
    display: none;
}

.gtContainer select {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.s-day {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-btn {
    padding-block: 10px;
    text-align: center;
    background-color: #239cec;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination-container {
    display: flex;
    border-radius: 10px;
}

.pagination-container .paginationAnchors {
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.pagination-container .paginationAnchors.active {
    background-color: #239cec;
}

@media only screen and (max-width:600px) {
    .card .card-d {
        flex-direction: column;
        align-items: center;
    }

    .card .card-d img {
        width: 70%;
        margin-inline: auto;
    }

    .card .card-d .img-c {
        display: flex;
        justify-content: center;
    }
}